.terminal{

background:#000;

color:#00ff55;

font-family:monospace;

height:100%;

display:flex;

flex-direction:column;

padding:10px;

}

.history{

flex:1;

overflow:auto;

}

.input-line{

display:flex;

gap:10px;

}

.input-line input{

flex:1;

background:black;

border:none;

outline:none;

color:#00ff55;

font-family:inherit;

font-size:16px;

}