.diary{

padding:20px;

background:#f7f1d0;

height:100%;

overflow:auto;

font-family:Georgia,serif;

}

.page{

margin-bottom:30px;

}

pre{

white-space:pre-wrap;

font-size:17px;

line-height:1.8;

}