.desktop{

width:100vw;

height:100vh;

background:#008080;

position:relative;

overflow:hidden;

}

.icon{

display:flex;

flex-direction:column;

align-items:center;

color:white;

font-size:42px;

width:90px;

margin:20px;

cursor:pointer;

user-select:none;

}

.icon span{

font-size:13px;

margin-top:5px;

text-align:center;

}

.icon:hover{

background:rgba(255,255,255,.15);

}

.taskbar{

position:absolute;

bottom:0;

left:0;

right:0;

height:38px;

background:#c0c0c0;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 10px;

border-top:2px solid white;

}

.taskbar button{

padding:4px 10px;

font-weight:bold;

}

.clock{

font-size:14px;

}
.start-menu{

position:absolute;

bottom:38px;

left:0;

width:220px;

background:#c0c0c0;

border:3px solid white;

box-shadow:5px 5px black;

}

.start-menu div{

padding:10px;

cursor:pointer;

}

.start-menu div:hover{

background:#000080;

color:white;

}
.desktop{

width:100vw;

height:100vh;

background:#008080;

overflow:hidden;

position:relative;
background-image:url("/wallpapers/room.jpg");
background-size:cover;
}
.icon{

width:75px;

padding:10px;

display:flex;

flex-direction:column;

align-items:center;

cursor:pointer;

user-select:none;

}

.icon:active{

transform:translateY(2px);

}

.icon:hover{

background:rgba(255,255,255,.15);

}